// basic layout
// --------------------------------------------
*
	box-sizing border-box

html
body
	line-height 1.4
	font-family 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
	-webkit-font-smoothing antialiased

.wrapper
.container
.main
	@extend $clearfix
