// media query device width
// please customize the min / max width settings to fit your project
// ------------------------------------------------
// sp size
max_width_sp = 480px
// tb normal size
min_width_tb = 481px
max_width_tb = 767px
// pc
min_width_pc = 950px


// media query break point
// ------------------------------------------------
sp = "only screen and (max-width: " + max_width_sp + ")"

tb = "only screen and (min-width: " + min_width_tb + ") and (max-width: " + max_width_tb + ")"

tb_up = "only screen and (min-width: " + min_width_tb + ")"

pc = "only screen and (min-width: " + min_width_pc + ")"
