// clearfix
// --------------------------------------------
$clearfix
  &:after
    content " "
    display block
    clear both


// inline-block
// --------------------------------------------
$inline-block
  display inline-block
  *display inline
  *vertical-align auto
  *zoom 1

$inline-block-top
  display inline-block
  vertical-align top
  *display inline
  *vertical-align auto
  *zoom 1

$inline-block-middle
  display inline-block
  vertical-align middle
  *display inline
  *vertical-align auto
  *zoom 1

$inline-block-bottom
  display inline-block
  vertical-align bottom
  *display inline
  *vertical-align auto
  *zoom 1


// mixin
// --------------------------------------------
$hide-text
  overflow hidden
  text-indent 110%
  white-space nowrap
